In [21]:
import os
import shap
import copy
import tqdm
import torch
import pickle
import kagglehub
import umap

import seaborn as sns
import pandas as pd
import numpy as np
import torch.nn as nn
import matplotlib.pyplot as plt
import torch.optim as optim

https://www.kaggle.com/datasets/rajkumarpandey02/list-of-countries-by-gdp-ppp-per-capita?select=List+of+countries+by+GDP+%28PPP%29+per+capita.csv
https://www.kaggle.com/datasets/bhavikjikadara/mental-health-dataset

In [22]:
root_path = kagglehub.dataset_download("bhavikjikadara/mental-health-dataset")
dataset_path = os.path.join(root_path, "Mental Health Dataset.csv") 
health = pd.read_csv(dataset_path)

# save the data to csv
health.to_csv("Mental_Health.csv", index=False)

#health.info()

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.5)

In [23]:

root_path = kagglehub.dataset_download("rajkumarpandey02/list-of-countries-by-gdp-ppp-per-capita")
dataset_path = os.path.join(root_path, "List of countries by GDP (PPP) per capita.csv") 
wealth = pd.read_csv(dataset_path)
wealth.to_csv("countries.csv", index=False)
#wealth.info()

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.5)

In [24]:
health.head()

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
0,8/27/2014 11:29,Female,United States,Corporate,NaN,No,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Not sure
1,8/27/2014 11:31,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,No
2,8/27/2014 11:32,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes
3,8/27/2014 11:37,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,Maybe,Yes
4,8/27/2014 11:43,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes

In [26]:
wealth.head()

,Unnamed: 0,Country/Territory,UN Region,IMF[5][6],IMF[5][6].1,World Bank[7],World Bank[7].1,CIA[8][9][10],CIA[8][9][10].1
0,NaN,Country/Territory,UN Region,Estimate,Year,Estimate,Year,Estimate,Year
1,0.0,Luxembourg *,Europe,141587,2022,134754,2021,110300,2020
2,1.0,Liechtenstein *,Europe,—,—,—,—,139100,2009
3,2.0,Singapore *,Asia,131426,2022,116487,2021,93400,2020
4,3.0,Ireland *,Europe,131034,2022,106456,2021,89700,2020

In [28]:
# show unique values of IMF[5][6].1
wealth["World Bank[7].1"].unique()

array(['Year', '2021', '—', '2020', '[n 2]2021', '2018', '[n 4]2021',
       '[n 5]2021', '2019', '[n 6]2021', '[n 7]2021', '[n 9]2021', '2011',
       '[n 10]2021', '2013', '2015'], dtype=object)